<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
  <rules>
    <rule name="1" stopProcessing="true">
      <match url="^.*$" ignoreCase="false" />
      <conditions logicalGrouping="MatchAny">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
      </conditions>
      <action type="None" />
    </rule>
    <rule name="2" stopProcessing="true">
      <match url=".*" ignoreCase="false" />
      <action type="Rewrite" url="index.php" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
<httpErrors errorMode="Detailed" />
  <asp scriptErrorSentToBrowser="true" />
<security>
<requestFiltering allowDoubleEscaping="true" />
</security>
</system.webServer>
<system.web> 
<customErrors mode="Off" />
<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" /> 
</system.web> 
</configuration>