<!-- include 'header' -->
<script type="text/javascript" src="{{rootUrl}}js/xform.js"></script>
<div class="c">

    <form date-async="true" id="manage_comment" method="post" action="{{rootUrl}}admin/manage_comment">

    <table class="mt10 table table-striped table-bordered table-condensed">
    <thead><tr>
            <th scope="col">昵称</th>
            <th scope="col">邮箱</th>
            <th scope="col">主页</th>
            <th scope="col">所在BLOG</th>
            <th scope="col">approved</th>
            <th scope="col"><a href="javascript:;" class="icon-plus-sign" style="padding:3px;margin: 5px;"></th>
          </tr>
    </thead>
    <tbody>
      <tr id="preload" style="display:none">
      <td>
        <input class="span2" type="text" name="comment_author" value="" />
      </td>
      <td>
         <input class="span2" type="text" name="comment_author_email" value="" />
      </td>
     <td>
        <input class="input-xlarge" type="text" name="comment_author_url" value="" />
     </td>
      <td>
        <span class="span2 uneditable-input">所在BLOG</span>
      </td>
       <td>
         <input class="span2" type="text" name="comment_approved" value="" />
      </td>
      <td><button class="btn">添加</button></a></td>
      </tr>
      <!-- if {{count}} -->
      <!-- loop comments -->
      <tr data-id="{{l' v.@comment_ID}}">
      
      <td class="input-append" data-name="comment_author" data-value="comment_author">{{l' v.@comment_author}}</td>
      <td class="input-append" data-name="comment_author_email" data-value="{{l' v.@comment_author_email}}">{{l' v.@comment_author_email}}</td>
     <td class="input-append" data-name="comment_author_url" data-value="{{l' v.@comment_author_url}}"><a href="{{l' v.@comment_author_url}}" target="_blank">{{l' v.@comment_author_url}}</a></td>

      <td><a href="s/{{l' v.@post_url}}" target="_blank">{{l' v.@post_title}}({{l' v.@comment_count}})</a></td>
      <td class="input-append" data-name="comment_approved" data-value="{{l' v.@comment_approved}}">{{l' v.@comment_approved}}</td>
      <td><a href="javascript:;" class="icon-remove" style="padding:3px;margin: 5px;"></a></td>
      </tr>
      <!-- endloop -->
      <!-- else -->
      还没有评论哦:0
      <!-- endif -->
    </tbody>
    </table>
    </form>
<nav id="pagenavi">
    {{pager}}
</nav>



</div>
<script type="text/javascript">
var options={params:{insert:'add',update:'update','delete':'remove'},
          tplid:'preload',
          selecter:{add:'.icon-plus-sign',del:'.icon-remove',edit:'.icon-edit'}};
$('#manage_comment').xForm(options);
</script>

<!-- include 'footer' -->