<!-- include 'header' -->
<script type="text/javascript" src="{{rootUrl}}js/xform.js"></script>
<div class="c">

    <form date-async="true" id="manage_link" method="post" action="{{rootUrl}}admin/manage_link">

    <table class="mt10 table table-striped table-bordered table-condensed">
    <thead><tr>
            <th scope="col">名称</th>
            <th scope="col">描述</th>
            <th scope="col">URL</th>
            <th scope="col">REL</th>   
            <th scope="col">更新日期</th>
            <th scope="col"><a href="javascript:;" class="icon-plus-sign" style="padding:3px;margin: 5px;"></th>
          </tr>
    </thead>
    <tbody>
      <tr id="preload" style="display:none">
      <td>
        <input class="span2" type="text" name="link_name" value="" />
      </td>
      <td>
         <input class="span2" type="text" name="link_description" value="" />
      </td>
     <td>
        <input class="input-xlarge" type="text" name="link_url" value="" />
     </td>
      <td>
        <input class="span2" type="text" name="link_rel" value="" />
      </td>
      <td>
        <span class="span2 uneditable-input">创建日期</span>
      </td>
      <td><button class="btn">添加</button></a></td>
      </tr>
      <!-- if {{count}} -->
      <!-- loop links -->
      <tr data-id="{{l' v.@link_id}}">
      
      <td class="input-append" data-name="link_name" data-value="{{l' v.@link_name}}"><a href="{{l' v.@link_url}}" target="_blank">{{l' v.@link_name}}</a></td>

      <td class="input-append" data-name="link_description" data-value="{{l' v.@link_description}}">{{l' v.@link_description}}</td>
     <td class="input-append" data-name="link_url" data-value="{{l' v.@link_url}}">{{l' v.@link_url}}</td>
      <td class="input-append" data-name="link_rel" data-value="{{l' v.@link_rel}}">{{l' v.@link_rel}}</td>
      <td class="input-append" data-name="link_updated" data-value="{{l' v.@link_updated}}">{{l' v.@link_updated}}</td>
      <td><a href="javascript:;" class="icon-remove" style="padding:3px;margin: 5px;"></a></td>
      </tr>
      <!-- endloop -->
      <!-- else -->
      还没有友链哦:0
      <!-- endif -->
    </tbody>
    </table>
    </form>
<nav id="pagenavi">
    {{pager}}
</nav>



</div>
<script type="text/javascript">
var options={params:{insert:'add',update:'update','delete':'remove'},
          tplid:'preload',
          selecter:{add:'.icon-plus-sign',del:'.icon-remove',edit:'.icon-edit'}};
$('#manage_link').xForm(options);
</script>

<!-- include 'footer' -->